body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px; /* minimum width of extension when opened in a browser */
}

input {
  border-color: #5f9341;
  border-style: solid;
  border-width: 1px;

  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

input:focus-within {
  background-color: lightblue;
}

button {
  background: #5f9341;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 5px;
  border: 1px solid #5f9341;
}

#delete-btn {
  color: #5f9341;
  background-color: white;
}

ul {
  margin-top: 20px;
  padding-left: 0px;
}

li {
  margin-bottom: 5px;
  list-style: none;
}

li a {
  /* will only apply to anchor tags that are inside of a list  */
  color: #5f9341;
}
